html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
   // position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
}

.nav-link {
  color: Darkgray;
  font-weight: bold;
  transition-duration: 0s;
}

.nav-link:hover {
 color: Dimgray;
}
