html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  text-transform: capitalize;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
   // position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
}

// for image not posted
.fa-sticky-note {
  width: 300px;
  height: 300px;
  background-color: WhiteSmoke;
}

i.fa-sticky-note {
  color: gray;
}
